body {
    --color-primary: #e55959;
    --color-primaryLight: #ffa4a4;
    --color-primaryDark: #712a2a;
    --color-second: #4fcf51;
    --color-secondDark: #2b712a;
    --color-third: #5970e5;
    --color-thirdDark: #2a2a71;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
}

/* Top Bar Navigation Styles */

.topBarNavigation {
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 0 0.5rem;
    position: fixed;
    height: 4rem;
}

.topBarNavigation-container i {
    color: #000;
    margin: 0 1.75rem;
    transform: scale(2.5);
}

.topBarNavigation-container i:hover {
    color: var(--color-primary);
    transform: scale(3);
    transition: 0.15s ease;
}

/* Initial Section */

.initial {
    height: 80vh;
    width: 100vw;
}

.initial-container {
    margin: 2rem 0;
    height: 100%;
    width: 100%;
}

.initial-header {
    margin: 0;
    padding: 0;
    position: relative;
}

.initial-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-initial-header {
    margin: 0;
    position: relative;
    color: #000000;
}

.initial-subtitle-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.initial-subtitle-slider {
    height: 3rem;
    overflow: hidden;
}

.initial-subtitle-slider div {
    box-sizing: border-box;
    font-weight: 600;
    height: 3rem;
    padding: 0.1rem 0.8rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.slider-sub1 {
    animation: subtitle-slide 5s linear infinite, subtitle-visibility 0s 1.2s forwards;
    color: var(--color-third);
    animation-delay: 1.2s;
    visibility: hidden;
}

.slider-sub2 {
    animation: subtitle-visibility 0s 1.2s forwards;
    color: var(--color-second);
    visibility: hidden;
}

.slider-sub3 {
    animation: subtitle-visibility 0s 1.2s forwards;
    color: var(--color-primary);
    /* visibility: hidden; */
}

.section-initial-avatar {
    padding: 2rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-initial-avatar img {
    height: 17.5rem;
    width: 17.5rem;
}

.section-initial-avatar img:hover {
    height: 20rem;
    width: 20rem;
    transition: 0.5s;
}


/* Introduction Section */

.introduction {
    height: 65vh;
    width: 100vw;
}

.introduction-container {
    height: 100%;
    width: 100%;
}

.introduction-slide-header {
    color: #fff;
    height: 10%;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

.introduction-slides {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.introduction-slides-wrapper {
    align-items: center;
    display: flex;
    height: 95%;
    justify-content: center;
    width: 100%;
}

.introduction-text-wrapper {
    align-items: center;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.introduction-text-wrapper h2 {
    color: #fff;
    width: 60vw;
}

.introduction-dot-container {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.slide-next, .slide-prev {
    cursor: pointer;
}

.introduction-dot {
    border: 0.15rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    margin: 0 0.5rem;
    transition: background-color 0.6s ease;
    width: 1rem;
}

.introduction-active, .introduction-dot:hover {
    background-color: #fff;
}




/* Experiences Section */

.experiences {
    height: 85vh;
    width: 100vw;
}

.experiences-container {
    height: 100%;
    width: 100%;
}

.experiences-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
}

.experiences-column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto';
    justify-items: center;
    height: 70%;
    width: 100%;
}

.experiences-column-header {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}

.experiences-column-subtitle {
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.experience-column-list {
    color: #fff;
    font-size: 1rem;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.experiences-column {
    border-radius: 1rem;
    box-shadow: 0.15rem 0.1rem 0.1rem 0.1rem var(--color-primaryDark);
    height: 100%;
    width: 90%;
}

/* Course Portfolio Section */
.coursePortfolio {
    height: 70vh;
    width: 100vw;
}

.coursePortfolio-header {
    color: white;
}

/* Project Portfolio Section */
.projectPortfolio {
    height: 70vh;
    width: 100vw;
}

.projectPortfolio {
    color: var(--color-second);
}


/* Contact Section */
.contact {
    height: 40vh;
    width: 100vw;
}

.contact-container {
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.contact-header {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.contact-subtitle {
    color: white;
    font-size: 1rem;
    text-align: center;
}


/* Secondary Styles */

.primaryBackground {
    background-color: var(--color-primary);
}

.secondBackground {
    background-color: var(--color-second);
}

.thirdBackground {
    background-color: var(--color-third);
}

.whiteBackground {
    background-color: #fff;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.section-subtitle {
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

.section-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.15rem;
}

@keyframes subtitle-slide {
    0% {margin-top: -144px;}
    5% {margin-top: -96px;}
    33% {margin-top: -96px;}
    38% {margin-top: -50px;}
    66% {margin-top: -50px;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

@keyframes subtitle-visibility {
    to {visibility: visible;}
}