body {
    --color-primary: #2be880;
    --color-secondary: #fff;
    --color-primaryAccent:  #18191a;

    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    transition: 0.25s ease-in-out;
}

body.dark {
    --color-secondary: #18191a;
    --color-primaryAccent:  #fff;

    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    transition: 0.25s linear;
}

body.random {
    --color-primary: #e82b2b;
    --color-primaryText: #fff;

    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    transition: 0.25s linear;
}

/* Top Bar Navigation Styles */

.topBarNavigation {
    animation: topBarNavigation-swipe 1s ease;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.topBarNavigation-container i {
    cursor: pointer;
    opacity: 0.75;
    margin: 1rem 1.5rem;
    transform: scale(2);
}

.topBarNavigation-container i:hover {
    transform: scale(2.5);
    transition: 0.15s ease;
}

.activeTheme {
    transform: scale(2.5) !important;
}

.fa-linkedin-in {
    color: #0e76a8 !important;
}

.fa-facebook {
    color: #4267B2 !important;
}

.fa-github {
    color: var(--color-primaryAccent) !important;
}


.fa-palette {
    filter: brightness(40%);
}


/* Initial Section */

.initial {
    height: 20vh;
    width: 100vw;
}

.initial-container {
    margin: 2rem 0;
    height: 100%;
    width: 100%;
}

.initial-header {
    margin: 0;
    padding: 0;
    position: relative;
}

.initial-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-initial-header {
    margin: 0;
    position: relative;
}

.initial-subtitle-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.initial-subtitle-slider {
    height: 3rem;
    overflow: hidden;
}

.initial-subtitle-slider div {
    box-sizing: border-box;
    font-weight: 600;
    height: 3rem;
    padding: 0.1rem 0.8rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.initial-sub1 {
    animation: subtitle-slide 5s linear infinite, subtitle-visibility 0s 1.2s forwards;
    animation-delay: 1.2s;
    visibility: hidden;
}

.initial-sub2 {
    animation: subtitle-visibility 0s 1.2s forwards;
    visibility: hidden;
}

.initial-sub3 {
    animation: subtitle-visibility 0s 1.2s forwards;
    visibility: hidden;
}

.section-initial-avatar {
    padding: 2rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-initial-avatar img {
    height: 17.5rem;
    width: 17.5rem;
}

.section-initial-avatar img:hover {
    height: 20rem;
    width: 20rem;
    transition: 0.5s;
}

/* Introduction Section */

.introduction {
    height: 65vh;
    width: 100vw;
}

.introduction-container {
    height: 100%;
    width: 100%;
}

.introduction-slide-header {
    color: var(--color-primaryLight);
    height: 10%;
    margin: 0;
    padding: 2rem 0;
    width: 90%;
}

.introduction-slides {
    animation: fadeIn 1s ease-in;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.introduction-slides-wrapper {
    align-items: center;
    display: flex;
    height: 95%;
    justify-content: center;
    width: 100%;
}

.introduction-text-wrapper {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.introduction-text-wrapper h2 {
    width: 60vw;
}

.introduction-dot-container {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.slide-next, .slide-prev {
    cursor: pointer;
}

.introduction-dot {
    border: 0.15rem solid var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 0.75rem;
    margin: 0 0.5rem;
    transition: background-color 0.6s ease;
    width: 0.75rem;
}

.introduction-active, .introduction-dot:hover {
    background-color: var(--color-secondary);
}

/* Experiences Section */

.experiences {
    height: 60vh;
    width: 100vw;
}

.experiences-container {
    height: 100%;
    width: 100%;
}

.experiences-header {
    animation: swipeIn 0.5s ease;
    font-weight: 600;
}

.experiences-column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: 70%;
    width: 100%;
}

.experiences-column-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.experience-column-list {
    border-top: 0.15rem solid var(--color-secondary);
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
    transition: 0.25s ease-in-out;
    text-align: center;
    width: 80%;
}

.experiences-column {
    align-items: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%;
}

.experiences-column i {
    transform: scale(3);
    margin: 1rem 0 2rem 0;
}

.experiences-column li:hover {
    transform: scale(1.15);
}

/* Course Portfolio Section */

.coursePortfolio {
    height: 50vh;
    width: 100vw;
}

.coursePortfolio-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.coursePortfolio-header {
    color: white;
}

.coursePortfolio-arrow {
    cursor: pointer;
}

.coursePortfolio-arrow:hover {
    transform: scale(1.25);
    transition: 0.15s ease;
}

.coursePortfolio-slides-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    padding: 0 0 20rem 5rem;
    width: 100%;
}

.coursePortfolio-slides {
    text-align: justify;
}

.coursePortfolio-slides-header {
    animation: swipeIn 0.5s ease;
    margin-bottom: -0.5rem;
}

.coursePortfolio-slides-subtitle {
    animation: swipeIn 0.5s ease;
    font-weight: 400;
    margin: -0.5rem 0;
}

.coursePortfolio-slides-text {
    animation: fadeIn 0.5s ease-in;
    font-weight: 300;
    width: 70%;
}

.coursePortfolio-dot-container {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.slide-next, .slide-prev {
    cursor: pointer;
}

.coursePortfolio-dot {
    border: 0.15rem solid var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 0.85rem;
    margin: 0 0.25rem;
    transition: background-color 0.6s ease;
    width: 0.85rem;
}

.coursePortfolio-link {
    color: var(--color-primaryLight);
}

.coursePortfolio-link:hover {
    color: var(--color-primaryAccent);
    transition: 0.25s;
}

.coursePortfolio-active, .coursePortfolio-dot:hover {
    background-color: var(--color-secondary);
}

.coursePortfolio-slides-text a {
    color: var(--color-secondary);
}

/* Project Portfolio Section */

.projectPortfolio {
    height: 70vh;
    width: 100vw;
}

.projectPortfolio-header {
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    position: absolute;
}

.projectPortfolio-image-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.projectPortfolio-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectPortfolio-image img {
    filter: brightness(30%);
    height: 250px;
    width: 250px;
    padding: 0 0.25rem;
}

.projectPortfolio-image h2, .projectPortfolio-image p {
    color: #fff;
    position: absolute;
    text-align: center;
    width: 20%;
}

.projectPortfolio-image h2 {
    font-weight: 600;
}

.projectPortfolio-image p {
    font-size: 0.85rem;
    font-weight: 300;
    opacity: 0;
}

.projectPortfolio-image:hover h2 {
    opacity: 0;
    transition: 0.25s;
}

.projectPortfolio-image:hover p {
    opacity: 1;
    justify-content: center;
    transition: 0.25s;
}

.projectPortfolio-image:hover p a {
    color: #fff;
}

.projectPortfolio-image:hover p a:hover {
    color: var(--color-primary);
    transition: 0.25s;
}

.projectPortfolio-text-wrapper {
    height: 100%;
    width: 100%;
}


/* Contact Section */

.contact {
    height: 30vh;
    width: 100vw;
}

.contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.contact-header {
    font-size: 3rem;
    text-align: center;
}

.contact-subtitle {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.contact-btn-container {
    align-items: center;
    display: flex;
    height: 100%;
}

.contact-btn {
    border: 0.15rem solid var(--color-secondary);
    border-color: var(--color-secondary);
    border-radius: 2rem;
    background-color: transparent;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: 1.75rem;
    height: 3.5rem;
    transition: 0.25s ease-in-out;
    width: 14rem;
}

.contact-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: 0.5s ease;
}

/* Secondary Styles */

.primaryBackground {
    background-color: var(--color-primary);
    transition: 0.25s ease-in-out;
}

.primaryAccent {
    color: var(--color-primaryAccent) !important;
    transition: 0.25s ease-in-out;
}

.primaryColor {
    color: var(--color-primary) !important;
    transition: 0.25s ease-in-out;
}

.secondaryColor {
    color: var(--color-secondary) !important;
    transition: 0.25s ease-in-out;
}

.section-header {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.section-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.section-text {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.15rem;
}

/* Animations */

@keyframes swipeIn {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes subtitle-slide {
    0% {
        margin-top: -144px;
    }
    5% {
        margin-top: -96px;
    }
    33% {
        margin-top: -96px;
    }
    38% {
        margin-top: -50px;
    }
    66% {
        margin-top: -50px;
    }
    71% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes subtitle-visibility {
    to {
        visibility: visible;
    }
}

@keyframes topBarNavigation-swipe {
    0% {
        margin-left: -5000px;
    }
    100% {
        margin-left: 0px;
    }
}